// @import url(https://fonts.googleapis.com/css?family=Montserrat);
@require 'DIN-Pro.css'

body
  background: #f7f5f0;

h1, h2, h3, h4, h5, h6
  font-family: 'DIN Pro Condensed Regular', sans-serif;
  color: #117744

a
  color: #117744
